
.text {
    color:black;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #D9D9D9;
    transition: 0.3s;
}

.project{
    max-width: 35vw;
    position: relative;
    margin: 3%;
    overflow:hidden;
    height: 35vh;
    margin-bottom:6%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline:none;
}
/* .project:hover{
    height:45vh;
    transition: .3s;
} */



.carousel:hover .card-body, .project:hover .card-body {
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #B7D1DA;
    color:#232323;

}


.project img{
    width: 100%;
    align-items: center;
  
}




/* .mySlides img:hover {
    -webkit-filter: blur(100px) grayscale(100%); /* Chrome, Safari, Opera */
    /*filter: blur(100px) grayscale(100%);


/* } */


.carousel:hover .secret, .project:hover .secret {
    display:block;
    line-height:1.5em;

}

.card{
    outline:none;
}

.card-body{
    color:black;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    color:#DDDDDD;
    transition: .3s;
}

.card_title{
    text-align:center;
}
.carousel{
    margin-bottom: 4%;
}


.carousel .carousel-item {
    height:460px;
   
  }


  
  .carousel-item img {
      width:100%;
      height:auto;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      max-height: 450px;
  }

  


