:root {
    --primary-color: #1e1e1e; 
    /* --secondary-color: #2ecc71;  */
    --accent-color:#046169; /* Red */
    --background-color: #ffffff; /* Light Gray */
    --text-color: #2f2f2f; /* Dark Gray */
    --border-color: #bdc3c7; /* Gray */
  }

.text {
    color:var(--text-color);
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background-color: #D9D9D9; */
    transition: 0.3s;   
}

.project{
    margin-left:0;
    margin-bottom:24px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    outline:none;
    height: 450px;
    width:100%;
    overflow:hidden;
    margin-top:0;
}





.project img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.project:hover .secret {
    display:block;
    line-height:1.5em;

}

.card{
    outline:none;
}

.card-body{
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    color:var(--text-color);;
    transition: .3s;
    
}


.nav-tabs .nav-link {
    color: #333;
}

.nav-tabs{
    justify-content:center;
    display:flex;
    margin-bottom: 12px;
}

/* Remove the outline around the tab link when clicked */
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    outline: none;
}

.project:hover .card-title{
    font-weight:bold;
}

  