body {
	/* font-family: serif; */
    font-family: 'firme-thin';
	/* Set all font in the page to Helvetica with font formatting */
	font-size: 115%; /* Generally set the font-size to 100% in the body 
	                    - you can then change with em in the other areas */
	line-height: 1.7em; /* The line-height property in CSS controls the space 
	                       between lines of text. */
	color: #000000; /* Hex Color Black */
    background-color: #ECECEC;
    background-image: url('./Images/me.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}   

#content{
    width:100%;
    height:100%;
    margin-top: 6%;
    padding:3%;
    padding-left: 15%;
    padding-right: 15%;
    
    /* float:right; */
    /* padding: 3%; */
}

.secret{
    display:none;
}

h1{
    color:#000;
   
    font-size: 6vh;
    text-decoration: none;
    margin-bottom:15px;
    font-weight:bold;
    font-family:serif
    
       
  
}

a{
    text-decoration: none;
}

.fade_in {

    -webkit-animation: fadein .5s; 
       -moz-animation: fadein .5s; 
        -ms-animation: fadein .5s; 
         -o-animation: fadein .5s; 
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.but a:hover{
    background-color:#fff;
    color:#000;
    outline:auto;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5%;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align:center;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icon-link {
    font-size: 24px;
    text-decoration: none;
  }

  .gradient{

    
    font-size: 20px;
    background: linear-gradient(
        to right, #1ccd28, rgb(2, 163, 139),
         #2337cf, #7144ee);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Stencil Std, fantasy
}
.centered{
    justify-content:center; 
    text-align:center; 
    display:flex;
}


.navbar-toggler {
    
    background-color: white;
}

.courses {
    border-collapse: collapse;
    width: 100%;
    
    margin-bottom:20px;
    font-size: 100%;
    margin-bottom:12px;
  }

  .courses p{
    font-size: 92%;
  }

  .courses th{
    text-align:center;
  }
  
  .courses td, #courses th {
    padding:.5em 2em .5em 2em;
  }
  
  .courses tr:nth-child(even){
    background-color: #ffff;
    color: #232323;}
  .courses tr:nth-child(odd){
    background-color: #DDDDDD;
    color:#232323;}

    .tab { text-indent:40px }

 
/* h2{
    
    font-weight:bold;
    font-size:130%;
    font-family:Georgia, 'Times New Roman', Times, serif
}







.nav-pills{
    color:#232323;
    font-weight:bold;
    --bs-nav-link-color:  #232323;
    --bs-nav-link-hover-color:  #B7D1DA;
    --bs-nav-pills-link-active-bg: #B7D1DA;
    --bs-nav-pills-link-active-color: #232323;
  }

.centered{
    justify-content:center; 
    text-align:center; 
    display:flex;
}

.centered a{
    margin:auto;
}



figcaption {
    color: #232323;
    font-style: italic;
    text-align: center;
    position: absolute;
    bottom: 0px;
    
  }

.mobile{
    display:none;
}

hr{
    color:#DDDDDD;
}

#content hr{
    color:#232323;
   
}

.indent{
    text-indent:80px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color:#000000;
    border-radius:10px;
    
}



.fade_in {

    -webkit-animation: fadein .5s; 
       -moz-animation: fadein .5s; 
        -ms-animation: fadein .5s; 
         -o-animation: fadein .5s; 
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.courses {
    border-collapse: collapse;
    width: 100%;
    
    margin-bottom:20px;
    font-size: 100%;
    margin-bottom:12px;
  }

  .courses p{
    font-size: 92%;
  }

  .courses th{
    text-align:center;
  }
  
  .courses td, #courses th {
    padding:.5em 2em .5em 2em;
  }
  
  .courses tr:nth-child(even){
    background-color: #B7D1DA;
    color: #232323;}
  .courses tr:nth-child(odd){
    background-color: #DDDDDD;
    color:#232323;}

 */
